body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    color:#fff
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

main h1 {
    color: #ffffff;
    margin: 0;
}

header h3 {
    font-size: 1.2em;
    margin: 5px 0 0;
}

#informazioni{
    color:#333;
    background-color: #ffdd99;
    margin-top: 20px;
}



